.main-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--dark-color);
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
  }

  @media only screen and (max-width: 768px) {
    .main-footer {
     font-size: 15px;
    }
  }
